<h1>Lists</h1>

You have <%= List.public_count %> lists.


<ul>
  <% if @lists.each do |list| %>
    <% unless list.archived? %>
      <li>
        <%= link_to list.title, list %>
      </li>
    <% end %>
  <% end.empty? %>
    You have no lists.
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>

