<div class="d-flex flex-row justify-content-between mx-3">
  <h1>Shopping Lists</h1>
  <%= link_to new_list_path, class: "icon-link icon-link-hover link-primary", style: "--bs-icon-link-transform: scale(1.25);" do %>
    <i class="bi bi-plus-circle-fill h2"></i>
  <% end %>
</div>


<%= render @lists %>  
